<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/">
    <span>FEH</span>
  </a>

  <ng-container *ngIf="authService.user != null">
    <a mat-button class="docs-navbar-hide-small docs-button"
    *ngFor="let item of menuItems"
      [routerLink]="item.link">{{item.name}}</a>
  </ng-container>

  <div class="flex-spacer"></div>
  <a *ngIf="authService.user == null" mat-button class="docs-navbar-hide-small docs-button" (click)="loginClick()">Login</a>
  <ng-container *ngIf="authService.user != null">
    <mat-label>Hello {{authService.user.name}}</mat-label>
    <a mat-button class="docs-navbar-hide-small docs-button" (click)="logoutClick()">Logout</a>
  </ng-container>
</nav>
