<h1 mat-dialog-title>Logowanie do systemu</h1>
<div class="login-dialog-container" mat-dialog-content>
  <mat-form-field>
    <input matInput (keypress)="onKeyPress($event)" [(ngModel)]="data.username" placeholder="Username">
  </mat-form-field>
  <mat-form-field>
    <input matInput (keypress)="onKeyPress($event)" [(ngModel)]="data.password" type="password" placeholder="Password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button #loginBtn mat-button color="primary" [disableRipple]="false" [mat-dialog-close]="data">
      <span>Login</span>
  </button>
  <button #cancelBtn mat-button color="secondary" [disableRipple]="false" [mat-dialog-close]="null">
      <span>Cancel</span>
  </button>
</div>
